<%- include('../partials/header.ejs') %>

  <div id="login">

    <h3>Log in here</h3>

    <p><%= message %></p>

    <form method="POST" action="/auth/login">
      <fieldset>
        <legend>
          <small>
            Enter your username and password below
          </small>
        </legend>
        <div>
          <label for="username">Username:</label>
          <input 
            id="username" 
            type="text" 
            name="username" 
            placeholder="Enter your username" 
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input 
            id="password"
            type="password" 
            name="password"
            placeholder="Enter your password"
          >
        </div>
        <button>Log in!</button>
      </fieldset>
    </form>

  </div>

<%- include('../partials/footer.ejs') %>