<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav>
		<a href="/">Home Page</a> |
		<a href="/posts/">Post Index</a> |
		<a href="/auth/register">Sign up</a> |
		<a href="/auth/login">Log in</a> |
		<a href="/auth/logout">Log out</a>
	</nav>