<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body class="user-profile">
	<header>
		<nav>
			<a href="/">Home Page</a> |
			<a href="/posts/">News Feed</a>
			<% if(loggedIn) { %>
			| <a href="/posts/new">Create Post</a>
			<% } %>
		</nav>

		<nav>
			<% if(loggedIn) {%>
			<a href="/user/">User</a> |
			<a href="/auth/logout">Log out</a>	
			<% } else { %>
			<a href="/auth/register">Sign up</a> |
			<a href="/auth/login">Log in</a>
			<% } %>
		</nav>
	</header>

	<main>