<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="/">Home Page</a> |
			<a href="/posts/">Post Index</a> |
			<a href="/posts/new">Create a Post</a> |
		</nav>

		<nav>
			<% if(loggedIn) {%>
			<a href="/auth/logout">Log out</a>	
			<% } else { %>
			<a href="/auth/register">Sign up</a> |
			<a href="/auth/login">Log in</a>
			<% } %>
		</nav>
	</header>
	