<%- include('./partials/header.ejs') %>

	<h2>About Us</h2>

	<div id="about">

		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

		<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="bkrabec"><a class="LI-simple-link" href='https://www.linkedin.com/in/bkrabec?trk=profile-badge'>Brian Krabec</a></div>

		<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="brian-wilson123"><a class="LI-simple-link" href='https://www.linkedin.com/in/brian-wilson123?trk=profile-badge'>Brian Wilson</a></div>

	</div>

<%- include('./partials/footer.ejs') %>