body {
	display: flex;
	flex-direction: column;
	background-color: lavender;
	font-family: 'Playfair Display', serif;
}

header {
	display: flex;
	justify-content: space-around;
}

main {
	display: flex;
	flex-grow: 0;
}

footer {
	text-align: center;
}

#background {
	object-fit: : cover;
	height: 100%;
	width: 100%
}

img {
	height: 300px;
	width: 450px;
}

nav {
	height: min-content;
}

h3 {
	height: min-content;
}

p {
	font-family: 'Lato', sans-serif;
}

#comments li {
	display: flex;
	flex-direction: column;
}

#posts  {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


#posts li {
	list-style-type: none;
	margin-bottom: 15px;
}