html, body {
	margin: 0;
	padding: 0;
}

body.general {
	display: flex;
	flex-direction: column;
	background: url(https://i.imgur.com/my8Vqo9.jpg);
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Playfair Display', serif;
}

body.post-index {
	background: url(https://i.imgur.com/UhLm41F.jpg);
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
}

header {
	display: flex;
	justify-content: space-around;
}

main {
	display: flex;
	flex-grow: 0;
	min-height: 92vh;
}

footer {
	text-align: center;
}

img {
	height: 300px;
	width: 450px;
}

nav {
	height: min-content;
}

h3 {
	height: min-content;
}

p {
	font-family: 'Lato', sans-serif;
}

#post-index {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .5);
}

#show {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .5);
}

#user-show {
	display:flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .5);
}

#comments li {
	display: flex;
	flex-direction: column;
}

#posts  {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


#posts li {
	list-style-type: none;
	margin-bottom: 15px;
}

/*#about {
	display: flex;
	flex-direction: column;
}*/